services:
  fileflows:
    image: revenz/fileflows:latest
    container_name: fileflows
    restart: unless-stopped
    ports:
      - ${PORT}:5000
    devices:
      - /dev/dri:/dev/dri
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${MEDIA_DIR}:/media
      - ${TEMP_DIR}:/temp
      - data:/app

volumes:
  data:
