services:
  kasm:
    image: lscr.io/linuxserver/kasm:latest
    container_name: kasm
    privileged: true
    security_opt:
      - apparmor:rootlesskit #optional
    devices:
      - /dev/dri:/dev/dri
    environment:
      - KASM_PORT=${HTTPS_PORT}
    volumes:
      - opt:/opt
      - profiles:/profiles
    ports:
      - ${WIZARD_PORT}:3000
      - ${HTTPS_PORT}:3443
    restart: unless-stopped

volumes:
  opt:
  profiles:
