services:
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - ${PORT}:81
    volumes:
      - /etc/timezone:/etc/timezone
      - npm-data:/data
      - npm-certs:/etc/letsencrypt

volumes:
  npm-data:
  npm-certs:
