services:
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - ${PORT}:81
    volumes:
      - /etc/timezone:/etc/timezone
      - nginx-proxy-manager:/data
      - nginx-proxy-manager-certs:/etc/letsencrypt

volumes:
  nginx-proxy-manager:
  nginx-proxy-manager-certs:
